body
{
background: rgb(244, 244, 244);
color: rgb(0, 0, 0);
font-size: 14pt;
}

h1
{
color: rgb(0, 0, 0);
text-align: center;
font-size: 42pt;
}

h2
{
color: rgb(0, 0, 0);
border-style: dashed;
border-width: 0px 0px 1px 0px;
border-color: #EEEEEE;
padding: 15px;
font-size: 30pt;
}

h3
{
color: rgb(0, 0, 0);
font-size: 25pt;
padding: 10px;
}

h4
{
color: rgb(0, 0, 0);
font-size: 20pt;
}

p
{
color: rgb(0, 0, 0);
}

img
{
max-width: 300px;
max-height: 300px
}

.mathmlEquation
{
font-size: 230%;
}

#npaHighlightLine
{
background-color: rgb(0, 222, 0);
color: rgb(0, 0, 0);
-webkit-border-radius: 5px;
}

#npaHighlight
{
background-color: rgb(11, 104, 255);
color: rgb(255, 255, 255);
-webkit-border-radius: 5px;
display: inline-block;
}